<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lahoriagency.cikolive">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.LOCAL_MAC_ADDRESS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.quickblox.sample.chat.java.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.provider.MediaStore.Images.Media.EXTERNAL_CONTENT_URI" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.quickblox.sample.messages.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ciko_logo"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:name=".Conference.AppConference"
        android:roundIcon="@mipmap/ciko_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CIKOLIVE"
        android:value="androidx.core.app.CoreComponentFactory"
        tools:ignore="GoogleAppIndexingWarning"
        tools:node="replace">
        <activity android:name=".QuickTellerAct">
            <!-- android:name=".Conference.AppConference"-->

        </activity>
        <activity android:name=".Conference.ChatInfoAct">

        </activity>
        <activity android:name=".Conference.AttachmentVideoAct" />
        <activity android:name=".Conference.ManageGroupActCon" />
        <activity android:name=".Conference.CallActCon" />
        <activity android:name=".Conference.BaseActCon" />
        <activity android:name=".NewPackage.ConfChatAct" />
        <activity android:name=".BaseActDiamond" />
        <activity android:name=".NewPackage.VideoCallActivity" />
        <activity android:name=".NewPackage.ChatDialogActivity" />
        <activity android:name=".NewPackage.ChatMainAct" />

        <service
            android:name=".NewPackage.CallServiceNew"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".NewPackage.ChatMatchAct" />
        <activity android:name=".ListUsersActivity" />
        <activity android:name=".NewPackage.CoreSplashActivity" />
        <activity android:name=".NewPackage.CoreBaseActivity" />
        <activity android:name=".NewPackage.SignUpActivity" />
        <activity android:name=".BaseActNew" />
        <activity android:name=".CoreBaseActivity" />
        <activity android:name=".MyTimeLinesAct" />
        <activity android:name=".SuperAdmin.UpdateDiamondAct" />
        <activity android:name=".SuperAdmin.TranXActList" />
        <activity android:name=".PayNowAct" />
        <activity android:name=".SuperAdmin.SuperLoginAct" />
        <activity android:name=".AppTimeLineAct" />
        <activity android:name=".AppSettingAct" />
        <activity android:name=".AppSupportAct" />
        <activity android:name=".PurchasesAct" />
        <activity android:name=".ManageGroupActivity" />
        <activity android:name=".SuperAdmin.SuperAdminOffice" />
        <activity android:name=".GooglePayCheckoutAct" />
        <activity android:name=".MessagesActivity" />
        <activity android:name=".MessageInfoAct" />
        <activity android:name=".ChatInfoAct" />
        <activity android:name=".AttachVideoAct" />
        <activity android:name=".MatchFragmentAct" />
        <activity android:name=".HostLiveAct" />
        <activity
            android:name=".FacebookAct"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity android:name=".ProfileEditActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".NewGroupActivity" />
        <activity android:name=".ForwardToActivity" />
        <activity android:name=".AttachmentImageActivity" />
        <activity android:name=".DialogsActivity" />
        <activity android:name=".SMSAct" />
        <activity android:name=".SelectUsersActivity" />
        <activity android:name=".AppInfoActivity" />

        <service
            android:name=".Classes.CallService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Classes.LoginService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Conference.PermissionsActivity" />
        <activity android:name=".Conference.OpponentsActivity" />
        <activity android:name=".CallActivity" />
        <activity android:name=".LoginDirectory" />
        <activity android:name=".ChatAct" />
        <activity android:name=".HostProfileAct" />
        <activity
            android:name=".UserLiveActivity"
            android:label="@string/title_activity_user_live"
            android:theme="@style/Theme.CIKOLIVE.NoActionBar" />
        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/Theme.CIKOLIVE.NoActionBar" />
        <activity
            android:name=".HostMainActivity"
            android:label="@string/title_activity_host_main"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".CreateProfileActivity"
            android:label="@string/title_activity_create_profile"
            android:theme="@style/Theme.CIKOLIVE.NoActionBar" />
        <activity
            android:name=".RedeemRequestActivity"
            android:label="@string/title_activity_redeem_request"
            android:theme="@style/Theme.CIKOLIVE.NoActionBar" />
        <activity
            android:name=".ChattingActivity"
            android:label="@string/title_activity_chatting"
            android:theme="@style/Theme.CIKOLIVE.NoActionBar" />
        <activity
            android:name=".SubmitRedeemActivity"
            android:label="@string/title_activity_submit_redeem"
            android:theme="@style/Theme.CIKOLIVE.NoActionBar" />
        <activity android:name=".StreamEndedActivity" />
        <activity android:name=".NotificationAct" />
        <activity android:name=".SavedProfileActivity" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".DiamondHistoryAct"
            android:label="@string/title_activity_diamond_history"
            android:theme="@style/Theme.CIKOLIVE.NoActionBar" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".EmptyAct" />
        <activity
            android:name=".PurchaseDiamondActivity"
            android:theme="@style/Theme.CIKOLIVE.NoActionBar" />
        <activity
            android:name=".ContentAct"
            android:label="@string/title_activity_purchase_diamond"
            android:theme="@style/Theme.CIKOLIVE.NoActionBar" />
        <activity android:name=".SplashActivity" />
        <activity android:name=".FindMatchActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_find_match">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- <12451000 -->
        <meta-data
            android:name="com.quickblox.messages.TYPE"
            android:value="GCM" /> <!-- android:name="com.quickblox.messages.SENDER_ID" -->
        <!-- android:value="@string/sender_id" /> -->
        <meta-data
            android:name="com.quickblox.messages.QB_ENVIRONMENT"
            android:value="DEVELOPMENT" />
    </application>

</manifest>